:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav {
  color: #8f8f8f;
  line-height: 48px;
  margin-top: 2px;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
}
