<div class="home-card-container">
  <md-card>
    <md-card-title>Howdy! Here's a list of awesome computer scientists.</md-card-title>
    <md-card-content>
      <p> Do you know any others? Add to the list yourself.
      </p>
      <form (submit)="addName()" class="home-form">
        <div>
          <md-input [(ngModel)]="newName" name="newName" class="home-input" placeholder="Awesome Computer Scientist" ngDefaultControl></md-input>
          <button md-raised-button color="accent" type="submit" class="home-button">ADD</button>
        </div>
      </form>
      <md-list class="home-list">
        <md-list-item *ngFor="let name of names">
          <h3 md-line>{{name}}</h3>
          <p md-line class="demo-secondary-text">secondary text</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>