<div class="home-card-container">
  <md-card>
    <md-card-title>Howdy! Here's a list of awesome computer scientistssss.</md-card-title>
    <md-card-content>
      <p> Do you know any others? Add to the list yourself.
      </p>
      <form (submit)="addName()" class="home-form">
        <div>
          <md-input [(ngModel)]="newName" name="newName" class="home-input" placeholder="Awesome Computer Scientist" ngDefaultControl></md-input>
          <button md-raised-button color="accent" type="submit" class="home-button">ADD</button>
        </div>
      </form>
      <div class="card-container">
        <md-card *ngFor="let name of names" class="card-content">
          <md-card-title-group>
            <img md-card-sm-image src="path/to/img.png">
            <md-card-title>{{name}}</md-card-title>
            <md-card-subtitle>{{name}}</md-card-subtitle>
          </md-card-title-group>
        </md-card>
      </div>
    </md-card-content>
  </md-card>
</div>


