<div class="form">
  <md-card>
    <md-card-title>Add a new speaker</md-card-title>
    <md-card-content>
      <p> Fill details below </p>
      <form class="home-form">
        <div>
          <md-input [(ngModel)]="newSpeaker.name.first" name="firstName" class="home-input" placeholder="First Name" ngDefaultControl></md-input>
          <md-input [(ngModel)]="newSpeaker.name.last" name="lastName" class="home-input" placeholder="last Name" ngDefaultControl></md-input>
        </div>
        <div>
          <md-input [(ngModel)]="newSpeaker.location.city" name="city" class="home-input" placeholder="City" ngDefaultControl></md-input>
          <md-input [(ngModel)]="newSpeaker.picture.large" name="picture" class="home-input" placeholder="Profile Picture URL" ngDefaultControl></md-input>
        </div>
        <div>
          <md-checkbox indeterminate="true">Robotics</md-checkbox>
          <md-checkbox indeterminate="true">Virtual Reality</md-checkbox>
          <md-checkbox indeterminate="true">Software Industry</md-checkbox>
        </div>
        <div>
          <button md-raised-button color="accent" (click)="addSpeaker()" class="home-button">Add</button>
          <button md-raised-button color="primary" (click)="clear()" class="home-button">Clear</button>
        </div>
      </form>
      <!--<div>-->
        <!--{{speakers | json}}-->
      <!--</div>-->
    </md-card-content>
  </md-card>
</div>

<div class="card-container">
  <md-card *ngFor="let speaker of speakers" class="card-content">
    <md-card-title-group>
      <img *ngIf="speaker.picture.large" md-card-sm-image src="{{speaker.picture.large}}">
      <img *ngIf="!speaker.picture.large" md-card-sm-image src="./assets/angular.jpg">
      <md-card-title>{{speaker.name.first}} {{speaker.name.last}}</md-card-title>
      <md-card-subtitle>{{speaker.location.city}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <button md-button>View Profile</button>
    </md-card-actions>
  </md-card>
</div>

