<div class="about-card-container">
  <md-card class="about-card">
    <p>
      Angular 2 Tech Event Application
    <p>
    <h2>Features</h2>
    <ul>
      <li>A Service definition, so that HTTP calls can be performed to display initial data.</li>
      <li>A custom model definition, to allow map custom set of objects.</li>
      <li>Dependency Injection.</li>
      <li>Two way data binding.</li>
      <li>Events triggering after click on a button.</li>
      <li>Use of Material Design components for Angular 2</li>
      <li>Use a Random user Generator to allow populate initial data.</li>
    </ul>
  </md-card>
</div>
